<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hello</title>
    <style>
        #canvas {
            border: 1px solid grey;
            width: 112px;
            height: 112px;
            position: static;
        }
    </style>
</head>

<body>
    <h1>Recognise my handwriting</h1>
    {% if max is defined %}
        <p>Top prediction: {{ max }}</p>
    {% endif %}
    {% if sorted is defined %}
        <p>Order of predictions:</p>
        <ol>
            {% for p in sorted %}
            <li>{{ p }}</li>
            {% endfor %}
        </ol>
    {% endif %}
    <canvas id="canvas"></canvas>
    <form method="post" enctype="multipart/form-data" id="form">
        <input id="fileInput" type="file" name="file" hidden/>
        <input type="submit" ></button>
    </form>

    <script src="/static/canvas.js" type="text/javascript"></script>

    <script type="text/javascript">
        var form = document.querySelector('#form')
        var canvas = document.querySelector('#canvas')
        var fileInput = document.querySelector('#fileInput')
        var submit = document.querySelector('#submit')

        form.addEventListener('submit', (event) => {
            event.preventDefault();
            canvas.toBlob((blob) => {
                const file = new File([blob], "canvas.png");
                const dataTransfer = new DataTransfer();
                dataTransfer.items.add(file);
                fileInput.files = dataTransfer.files;
                event.target.submit();
            });
        })
    </script>

</body>

</html>